{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="profile">
  <div class="container">
    <div class="row">
      <!--
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="{% static 'img/profile.jpg' %}" alt="profile">
      </div>
    -->
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h3 style="color: green;">Hello there, Welcome to my profile!</h3>
        <p><strong>Name</strong>:<br>
          Muhammad Urwatil Wutsqo</p>
          <p><strong>NPM</strong>:<br>
          1906351101</p>
          <p><strong>Education</strong>:<br>
          Computer Science - Universitas Indonesia<br>
          SMAN 1 Sumatera Barat</p>
          <p><strong>Hobby</strong>:<br>
          Learn new things<br>
          Reading<br>
          Playing valorant</p>
          <p><strong>Contact/Social Media</strong>:<br>
          <a href="https://line.me/ti/p/~wutsqoo">Line</a> (id: wutsqoo)<br>
          <a href="mailto:urwatilwutsqo16@gmail.com">Email</a><br>
          <a href="https://www.linkedin.com/in/wutsqo">Linkedin</a><br>
          <a href="https://steamcommunity.com/id/schromage">Steam</a></p>
          <hr>
          <p>こんにちは！私はウツコです。インドネシア出身です。コンピュータサイエンスを勉強しています。</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
