{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{title}}</title>
{% endblock meta %}

{% block content %}
<div class="contact">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col">
                <h1>{{title}} {{detail_matkul.nama}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive-lg">
                <table class="table table-striped">
                <tr>
                    <th scope="col">Mata Kuliah</th>
                    <td>{{detail_matkul.nama}}</td>
                </tr>
                <tr>
                    <th scope="col">Dosen Pengajar</th>
                    <td>{{detail_matkul.dosen}}</td>
                </tr>
                <tr>
                    <th scope="col">Deskripsi</th>
                    <td>{{detail_matkul.desc}}</td>
                </tr>
                <tr>
                    <th scope="col">Jumlah SKS</th>
                    <td>{{detail_matkul.sks}}</td>
                </tr>
                <tr>
                    <th scope="col">Ruang Kelas</th>
                    <td>{{detail_matkul.kelas}}</td>
                </tr>
                <tr>
                    <th scope="col">Semester Tahun</th>
                    <td>{{detail_matkul.semester}}</td>
                </tr>
                
            </table>
        </div>
    </div>
</div>
{% endblock content %}
