{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{title}}</title>
{% endblock meta %}

{% block content %}
<div class="contact">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive-lg">
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Mata Kuliah</th>
                            <th scope="col">Detail</th>
                            <th scope="col">Hapus</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for matkul in semua_matkul%}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{matkul.nama}}</td>
                            <td><a class="btn" href="{% url 'matkul:detail' matkul.id %}">Detail</a></td>
                            <td><a class="btn btn-danger" href="{% url 'matkul:hapus' matkul.id%}">Hapus</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary" href="{% url 'matkul:tambah' %}">Tambah</a>
        </div>
    </div>
</div>
{% endblock content %}
