{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{title}}</title>
{% endblock meta %}

{% block content %}
<div class="contact">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{form_tambah.as_table}}
                </table>
                <button type="submit">Tambahkan</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
