{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body class="body">
  <!-- navbar -->  
  <nav class="navbar navbar-expand-lg fixed-top"> 
    <a class="navbar-brand" href="{% url 'main:home' %}">
        <img src="{% static 'img/logo.svg' %}" alt="Logo" style="width:40px;">
    </a> 
    <a class="navbar-brand" href="{% url 'main:home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="about" href="{% url 'main:home' %}#about">About</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" data-value="portfolio"href="{% url 'main:home' %}#portfolio">Projects</a>    
            </li>  
            <li class="nav-item"> 
                <a class="nav-link" data-value="contact" href="{% url 'main:contact' %}">Contact</a>
            </li>
            <li>
                <a class="nav-link" data-value="matkul" href="{% url 'matkul:home' %}">Matkul</a>
            </li>
            <li>
              <a class="nav-link" data-value="matkul" href="{% url 'kegiatan:index' %}">Kegiatan</a>
          </li>  
        </ul> 
    </div>
  </nav>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
       
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
  {% block content %}
  {% endblock content %}
</html>
