{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <header class="header">
      <div class="overlay"></div>
      <div class="container">
          <div class="description ">
              <h2>Hello, I am</h2><br>
              <h1>Muhammad Urwatil <mark>Wutsqo</mark></h1>
              <p>Computer science student who are currently learning web design and programming</p><br>
              <a href="{% url 'main:contact' %}"><button class="btn btn-outline-secondary btn-lg">Contact me</button></a>
              
          </div>
      </div>   
  </header>

  <div class="about" id="about"> 
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <h1>About me</h1>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 desc">
                  <h3>Education</h3>
                  <p>2016 - 2019 SMAN 1 Sumatera Barat<br>
                  2019 - 2023 Computer Science - Universitas Indonesia</p>
                  <a href="{% url 'story1:profile' %}"><button class="btn btn-outline-secondary btn-lg">See detailed profile</button></a>
              </div>
          </div>
      </div>
  </div>

  <!-- portfolio -->
  <div class="portfolio" id="portfolio">
      <h1 class="text-center">Projects</h1>
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <img src="https://news.blr.com/app/uploads/sites/3/2019/10/Team-project.jpg" class="img-fluid">
                  <p style="text-align: center;"><a href="#" style="color: aliceblue;">Project One</a></p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <img src="https://www.bounteous.com/sites/default/files/styles/default/public/insights/2019-10/previews/20191003_blog_scoping_a_data_science_project_in_a_smarter_way_website.png?itok=TKaHtpX-" class="img-fluid">
                  <p style="text-align: center;"><a href="#" style="color: aliceblue;">Project Two</a></p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <img src="https://news.blr.com/app/uploads/sites/3/2019/10/Team-project.jpg" class="img-fluid">
                  <p style="text-align: center;"><a href="#" style="color: aliceblue;">Project Three</a></p>
          </div>
      </div>
  </div>
  
  <!-- Footer -->
  <div class="contact-cv">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: center;">
                  <a href="{% url 'main:contact' %}"><button class="btn btn-outline-secondary btn-lg">Contact me</button></a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: center;">
                  <a href="https://cv.wutsqo.wtf" target="_blank"><button class="btn btn-outline-secondary btn-lg">Download My CV</button></a>
              </div>
          </div>
      </div>
  </div>
{% endblock content %}
