{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{title}}</title>
{% endblock meta %}

{% block content %}
<div class="contact">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
    <div class="card">
      <div class="card-header">Tambah Kegiatan</div>
        <div class="card-body">
          <form method='POST' action='/kegiatan/tambah-kegiatan/'>
            {% csrf_token %}
            <div class="form-group">
              <label>Nama Kegiatan</label>
              <input type="text" class="form-control" name='kegiatan_name' required>
              <label>Deskripsi Kegiatan</label>
              <input type="text" class="form-control" name='deskripsi'>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    <div class="row">
        <div class="col">
            <div class="d-flex flex-wrap justify-content-center">
                {% for kegiatan in daftar_kegiatan %}
                  <div class="card kegiatan m-3" style="color: black;">
                    <div class="card-body d-flex flex-column justify-content-between">
                      <h5 class="card-title" style="color: white;">{{ kegiatan.name }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Peserta:</h6>
                      <ul class="list-group list-group-flush" style="color: white;">
                        {% if kegiatan.peserta.all|length < 1 %}
                          Tidak ada peserta
                        {% else %}
                        {% for peserta in kegiatan.peserta.all %}
                            {% if forloop.counter < 4 %}
                                {{ peserta.name }}<br/>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                      </ul>
                      <a class="btn" href="{% url 'kegiatan:daftar_peserta' kegiatan.pk %}">Detail</a>
                    </div>
                  </div>
                {% endfor %}
              </div>
        </div>
    </div>
    
</div>
{% endblock content %}
