{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{title}}</title>
{% endblock meta %}

{% block content %}
<div class="contact">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col">
                <h1>{{title}} {{kegiatan.name}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="color: green;">Deskripsi</h3>
            {% if kegiatan.deskripsi %}
            <p>{{ kegiatan.deskripsi }}</p>
            {% else %}
            <p>Tidak ada deskripsi</p>
            {% endif %}
            <h3 style="color: green;">Daftar Peserta</h3>
            {% if kegiatan.peserta.all|length == 0 %}
                <p>Tidak ada peserta</p>
            {% else %}
            <table class="table table-striped">
                <tbody>
                    {% for peserta in kegiatan.peserta.all %}
                    <tr>
                        <td>{{ peserta.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>
    <div>
        <form method='POST' action='/kegiatan/tambah-peserta/{{ kegiatan.pk }}/'>
            {% csrf_token %}
            <div class="form-group">
                <label>Pengen ikut? Tambah Nama Anda</label>
                <input type="text" class="form-control" name='nama_peserta' required>
            </div>
            <button type="submit" class="btn btn-success">Daftar</button>
        </form>
    </div>
</div>
{% endblock content %}
